.imageContainer {
    margin-bottom: 30px;
}

.imageContainer p{
    text-align: center;
}

.imageSubContainer {
    height: 429px;
    width: 100%;
    margin-top: 50px;
    border-radius: 5px;
}

.imageSubContainer img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.contentContainer img {
    height: 429px;
    width: 100%;
}

.contentContainer p{
    width: 100%;
    text-align: justify;
}

.categoryParagraph {
    width: 100%;
    text-align: start;
    font-weight: 700;
}

.categoryParagraph span{
    color: #208FFF !important;
    font-weight: 500;
}

hr {
    background-color: #63636367 !important;
    border: none;
    height: 1px;
}

.relatedNewsTitleContainer {
    margin-top: 40px;
}

.relatedNewsTitleContainer p {
    padding-top: 8px;
    padding-bottom: 40px;
}

.relatedNewsCardsContainer {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1500px) {
    .imageSubContainer {
        height: 320px;
    }

    .contentContainer img {
        height: 320px;
    }
}

@media screen and (max-width: 900px) {
    .imageSubContainer {
        height: 250px;
    }

    .contentContainer img {
        height: 250px;
    }

    .relatedNewsCardsContainer {
        flex-direction: column;
    }

    .relatedNewsTitleContainer h2{
        text-align: center;
    }

    .relatedNewsTitleContainer p {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .imageSubContainer {
        height: 160px;
    }

    .contentContainer img {
        height: 160px;
    }
}