.relatedNewsCardContainer {
    width: 32%;
    box-shadow: 0px 85px 34px rgba(60, 76, 112, 0.01), 0px 21px 21px rgba(60, 76, 112, 0.09);
    border-radius: 4px;
}

.relatedNewsCardContainer h2 {
    font-size: 16px;
    text-align: start;
}

.imageContainer {
    height: 222px;
    width: 100%;
    border-radius: 4px;
}

.imageContainer img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.infoContainer {
    padding: 0 15px 0px 15px;
}

.subTitleContainer {
    display: flex;
    justify-content: space-between;
}

.subTitleContainer p {
    font-size: 12px;
}

.dateContainer {
    display: flex;
    align-items: center;
}

.dateContainer span {
    padding-right: 5px;
}

.continueReading {
    color: #007fff;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .relatedNewsCardContainer {
        width: 100%;
        margin-bottom: 20px;
    }

    .subTitleContainer p {
        width: fit-content;
        margin: 0;
    }

    .continueReading {
        text-align: start;
        margin: 0;
    }
}